p Olá,
p Infelizmente a atividade #{@event.activity.name} que seria realizada #{l @event.date} foi cancelada pelo guia.
p Você está recebendo este email pois era um dos participantes desta atividade.
p Em breve estaremos estornando o valor pago por você.
p Atenciosamente,
p Equipe Parada Carioca
