@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-unlinked-icon:before {
	content: "\e002";
}
.icon-underline-icon:before {
	content: "\e00a";
}
.icon-top-guias-icon:before {
	content: "\e000";
}
.icon-top-bairros-icon:before {
	content: "\e00b";
}
.icon-search-icon:before {
	content: "\e00c";
}
.icon-search-icon-2:before {
	content: "\e00d";
}
.icon-review-icon:before {
	content: "\e00e";
}
.icon-quotes-icon:before {
	content: "\e00f";
}
.icon-promote-icon:before {
	content: "\e010";
}
.icon-preview-icon:before {
	content: "\e011";
}
.icon-photo-icon:before {
	content: "\e012";
}
.icon-people-icon:before {
	content: "\e013";
}
.icon-pencil-icon:before {
	content: "\e014";
}
.icon-paradas-populares-icon:before {
	content: "\e015";
}
.icon-novas-paradas-icon:before {
	content: "\e017";
}
.icon-new-activity-icon:before {
	content: "\e018";
}
.icon-money-icon:before {
	content: "\e019";
}
.icon-mini-review-icon:before {
	content: "\e01a";
}
.icon-list-icon:before {
	content: "\e01b";
}
.icon-linked-icon:before {
	content: "\e01c";
}
.icon-link-icon:before {
	content: "\e016";
}
.icon-keywords-icon:before {
	content: "\e001";
}
.icon-info-icon:before {
	content: "\e01d";
}
.icon-heart-icon:before {
	content: "\e01e";
}
.icon-event-list-icon:before {
	content: "\e01f";
}
.icon-create-icon:before {
	content: "\e020";
}
.icon-close-icon:before {
	content: "\e021";
}
.icon-clock-icon:before {
	content: "\e022";
}
.icon-check-icon:before {
	content: "\e003";
}
.icon-calendar-icon:before {
	content: "\e004";
}
.icon-calendar-add-icon:before {
	content: "\e005";
}
.icon-bullets-icon:before {
	content: "\e006";
}
.icon-back-icon:before {
	content: "\e007";
}
.icon-agendamentos-icon:before {
	content: "\e008";
}
.icon-add-icon:before {
	content: "\e009";
}
.icon-help:before {
	content: "\e023";
}
.icon-location:before {
	content: "\e024";
}
.icon-facebook:before {
	content: "\e025";
}
.icon-facebook-2:before {
	content: "\e026";
}
.icon-phone:before {
	content: "\e027";
}
.icon-envelope:before {
	content: "\e028";
}
