body.activities.index
  section.search
    background: url("img-destaque-home.jpg")
    color: white

  section.featured_activities
    margin-bottom: 3em

  section.login2, section.new_activity
    background: #efefef
    text-align: center
    margin-bottom: 3em
    .login
      padding-top: 1em
      padding-bottom: 1em
      .btn_fb
        margin-left: 1em
        padding-left: 1em
        padding-right: 1em

  section.new_activity
    background: none
    margin-bottom: 1em
    p
      font-size: 1.5em
      margin-bottom: .5em

  section.top_activities h2, .meurio_and_login
    +grid(12)
    +last

  section.top_lists
    margin-bottom: 5em
    ol.activities, ol.neighborhoods
      margin: 0 1px 2px 1px
      +box-shadow(lightgray 0 1px 2px)
    li.activity, li.neighborhood
      background: white
      font-size: .8em
      border-bottom: 1px solid lighten(lightgray, 10%)
      &:last-child
        border-bottom: none
      &:first-child
        border-top: 1px solid lighten(lightgray, 10%)
      span
        font-size: 1.5em
        color: lighten(gray, 10%)
        font-weight: bold
        display: inline-block
        width: 20px
        text-align: center
        margin-right: .25em
      a
        display: block
        padding: .75em
        +transition(.25s)
        &:hover
          background: $blue
          color: white
          text-decoration: none
          span
            +transition(.25s)
            color: white
    .recent_activities, .popular_activities, .popular_neighborhoods
      +grid(4)
    .recent_activities
      +last

body.activities.search
  h2, .no_results
    +grid(12)
  li.activity
    &:nth-child(3n+0)
      +last
  section.search
    background: lighten(lightgray, 10%)
    margin-bottom: 3em
    .row
      overflow: visible
  .no_results
    text-align: center
    font-size: 1.5em

body.activities.show
  .content
    padding-top: 1.5em
  .activity_name, .activity_info
    +grid(8)
  .activity_price, .activity_reviews
    +grid(2)
  .activity_panel
    +grid(4)
  .activity_reviews, .activity_panel
    +last
  .activity_name, .activity_price, .activity_reviews, .activity_share, img.activity_cover, .activity_description p, .activity_reviews_list li.review, .activity_events
    margin-bottom: 1em
    font-size: .9em
  .activity_name, .activity_price, .activity_reviews
    h1, span.icon-money, span.icon-review
      font-size: 1.5em  
      font-weight: bold
  .activity_name
    span
      margin-right: 1em
  .activity_price span.icon-money, .activity_reviews span.icon-review
    display: block
  .activity_description
    margin-bottom: 3em
    h2
      color: $blue
  .activity_reviews_list
    span.icon-review
      display: block
      margin-bottom: 1em
  li.review
    .review_details
      margin-left: 60px
      .review_user, .review_description
        margin-bottom: 1em
      .review_created_at
        color: lighten(gray, 20%)
  .activity_guide
    overflow: hidden
    .activity_guide_info
      margin-left: 60px
      span.icon-review
        display: block
        font-size: .8em
  .activity_events
    input[type="submit"]
      display: block
    .no_events, .event label, .event_attendees
      display: block
      border: lightgray 1px solid
      overflow: hidden
      padding: .5em
    .no_events
      text-align: center
    .event
      margin-bottom: 1.5em
      &:last-child
        margin-bottom: 0
      label
        &:hover
          background: lighten($blue, 45%)
      span
        float: left
        font-weight: bold
        &.event_date
          width: 60px
          input
            margin: 0 5px 0 0
        &.event_price
          width: 100px
        &.remaining_to_maximum, &.remaining_to_minimum
          float: right
          color: $green
        &.remaining_to_minimum
          color: darken($yellow, 15%)
      .event_attendees
        border-top: 0
        overflow: hidden
        background: #efefef
        span
          margin-left: .25em
          font-weight: normal
          font-size: .9em
          line-height: 25px
        img
          width: 25px
          margin-right: 1px
  .btn.icon-pencil
    display: block
    margin: 0 0 1em 0

body.activities.new, body.activities.create
  h1, form
    +grid(8)
    +grid-prefix(2)

body.activities.new, body.activities.create, body.activities.edit
  h1
    margin-bottom: .5em
  form
    input[type="text"], textarea
      width: 100%
      font-size: 1.25em
      padding: .25em
      +box-sizing(border-box)
    textarea
      font-size: .8em
      height: 100px
    input#activity_price, select#activity_neighborhood_id, input#activity_image
      width: auto
    .field
      margin-bottom: 1.5em
      &:last-child
        margin: 0
        text-align: center
  #map_canvas
    width: 100%
    height: 350px
    margin-top: .5em
  .event
    padding: 1em 0
    span.cancel
      display: inline

section.featured_activities, ul.search_result, ul.nearby_result
  li.activity         
    +grid(4)
    &:last-child
      +last
    margin-bottom: 1em
    .image
      float: left
      img
        float: left
        width: 100%
    .about
      background: white
      margin: 0 1px 2px 1px
      overflow: hidden
      padding: .5em
      +box-shadow(lightgray 0 1px 2px)
    .user_name
      color: gray
      overflow: hidden
      border-bottom: 1px solid lighten(lightgray, 10%)
      padding-bottom: .5em
      margin-bottom: .5em
      img
        float: left
        margin: 0 .5em .5em 0
    .info
      line-height: 20px
      overflow: hidden
      .address
        float: left
        color: gray
        font-size: .8em
        &:before
          color: $pink
      .price
        float: right

section.search
  padding-top: 2em
  padding-bottom: 2em
  margin-bottom: 1em 
  margin-top: -1em
  text-align: center
  p
    font-size: 1.5em
    margin-bottom: 2em
  form
    .by_neighborhood
      display: inline-block
      margin-right: 2em
      text-align: left
      vertical-align: bottom
      label
        display: block
      .select2-container
        a.select2-choice
          font-size: 1.5em
          padding: .25em
          div
            padding-top: .25em
    button
      margin: 0

.select2-drop
  .select2-search
    display: none


body.activities.edit
  h1
    font-size: 1.2em
    margin-bottom: 1em
  .header
    background: lighten(gray, 45%)
    background: image-url('img-destaque-home.jpg') 0 -200px fixed
    margin-bottom: 1.5em
    padding: 1em 0 0 0
    margin-top: -1em
    text-align: center
    h2
      color: lighten(gray,50%)
      font-weight: bold
  aside.left
    display: block
    +grid(3)
    margin-right: 0
    width: 25.95%
  article.right
    background: white
    +grid(9)
    +last
  .box
    padding: 1.4em
    min-height: 300px
    +box-shadow(10px 6px 4px lighten(gray,40%))
  form
    width: 100%
    padding: 0
    float: none
    
    input[type='text'], textarea, select
      color: lighten(gray, 20%)
      font-size: 1em !important
      margin-top: .4em
      text-indent: 4px
    input:focus, textarea:focus
      +transition(.5s)
      color: black
      outline: thin $pink 
  nav.menu
    a
      display: block
      font-size: .9em
      padding: 1em .1em
      text-indent: 1em
      border-bottom: 1px solid lighten(gray, 40%)
      color: lighten(gray, 25%)
      padding-right: 7.6%
      +transition(.2s)
      &:hover
        text-decoration: none
        color: $blue
      &:before
        margin-right: .5em
      &.selected
        font-weight: bold
        background: white
        color: $blue
      &:last-child
        border: 0
  .event .new
    padding: .8em
    background: lighten(gray, 45%)
    font-size: .8em
    text-align: center
    h3
      margin: 0
      line-height: 1.2em
    .btn
      margin-top: .8em
  form.new_event, form.edit_event
    width: 94%
    padding: 10px
    .field
      margin-bottom: .5em
      &:last-child
        margin: 0
        text-align: center

    input[type='submit']
      margin: 0
    label
      display: inline-block
      width: 180px
      text-align: right
      margin-right: 1em
    label[for='event_date']
      text-align: left
      display: block
      width: 98%
    input[name='event[date]'], input[name='event[price]']
      font-size: 1.5em
    select
      margin-right: .25em
    hr
      margin-top: 2em
  .index
    margin-top: 1em

