body.events.index, body.events.create
  .header
    +grid(12)
  .activity_menu
    +grid(3)
  .activity_content
    +grid(9)
    +last
  .header
    margin-bottom: 2em
    h1
      font-size: 1.5em
  .awaiting_moderation_warning
    color: $pink
  .activity_content
    .btn
      font-size: .75em
      padding: .5em 1em
    .event_created_notice
      color: $green
      margin-bottom: .5em
  .activity_menu
    a
      color: gray
      font-size: 1em
      display: block
      border-top: 1px solid lightgray
      padding: 1em
      &:before
        margin-right: .5em
      &:hover, &.selected
        text-decoration: none
      &.selected
        color: $blue
  form.new_event
    padding: 10px
    .field
      margin-bottom: .5em
      &:last-child
        margin: 0
        text-align: center
    input[type='submit']
      margin: 0
    label
      display: inline-block
      width: 180px
      text-align: right
      margin-right: 1em
    label[for='event_date']
      text-align: left
      display: block
    input[name='event[date]'], input[name='event[price]']
      font-size: 1.5em
    select
      margin-right: .25em
    hr
      margin-top: 2em
