// General rules

body
  font-family: "Proxima Nova", sans-serif
  line-height: normal
  background: #f8f8f8

h1
  font-size: 2em
  font-weight: bold

h2, h3
  color: gray
  font-size: 1.5em
  margin-bottom: 1em
  line-height: 42px
  img
    width: 35px
    margin-right: .25em
    float: left
    +opacity(.3)
  &:before
    margin-right: .2em
    font-size: 42px
    position: relative
    top: 10px
h3
  font-size: 1em

a
  color: gray
  text-decoration: none
  &:hover
    color: $pink
    text-decoration: underline

strong
  font-weight: bold


section
  +grid-container
article.left
  +grid(8) 
aside.right
  +grid(4)
  +last



.row
  +grid-row

.btn
  background: $pink
  color: white
  text-align: center
  text-transform: uppercase
  padding: .8em .4em
  background: $pink
  font-weight: bold
  font-size: 1em
  margin: .4em auto
  +transition(.2s)
  +background-image(linear-gradient($pink, darken($pink, 10%)))
  +box-shadow(0 0 .1em lighten(black, 15%))
  +border-radius(4px)
  &:hover
    background: darken($pink, 5%)
    cursor: pointer
  .icon-checkmark
    &:before
      font-size: 1.4em
      opacity: .8
      top: .1em
  .icon-checkmark, .icon-heart, .icon-calendar-add
    &:before
      margin-right: .3em
.btn_gray
  padding: .4em .2em
  width: 60%
  background: lighten(gray, 10%)
  font-size: .8em
  &:hover
    background: darken(gray, 15%)
  .icon-heart, .icon-calendar-add
    &:before
      color: lighten(gray, 40%)
      top: .1em

li.activity
  +grid(4)
  &:last-child
    +last

.most_popular_guides, .most_recent_events
  +grid(3)

.most_recent_events
  +last
section.top_activities h2, .meurio_and_login
  +grid(12)
  +last

header.login
  background: white
  padding-top: .25em
  padding-bottom: .25em
  line-height: 40px
  color: lighten(gray, 10%)
  font-size: .8em
  margin-bottom: 2em
  +box-shadow(lighten(gray, 15%) 0 0 20px)
  img
    float: left
    margin-left: -4px
  .login
    float: right
    a
      display: inline-block
      text-decoration: none
      font-size: 1.5em
      color: #4b64a6
      vertical-align: middle
      margin-left: .25em
  .user_name_and_avatar
    text-align: right
    font-weight: bold
    img
      width: 30px
      float: right
      margin-top: 5px
      margin-left: 1em

img
  margin: 0
  +border-radius(0)
