// Grids
section
  +grid-container
article.left
  +grid(8) 
aside.right
  +grid(4)
  +last
.row
  +grid-row
.meurio_and_login
  +grid(12)
  +last
.hidden
  display: none
.box
  overflow: hidden

// General rules

body
  font-family: "Proxima Nova", sans-serif
  line-height: normal
  background: #efefef
  color: darken(gray, 10%)

h1
  font-size: 2em
  font-weight: bold

h2, h3
  color: gray
  font-size: 1.5em
  margin-bottom: 1em
  line-height: 42px
  img
    width: 35px
    margin-right: .25em
    float: left
    +opacity(.3)
  &:before
    margin-right: .2em
    font-size: 42px
    position: relative
    top: 10px
h3
  font-size: 1em

a
  color: $blue
  text-decoration: none
  &:hover
    color: $pink
    text-decoration: underline

a, select, input, textarea
  outline: none

textarea
  resize: none

strong
  font-weight: bold

label, input[type='radio']
  cursor: pointer

input[type='text'], textarea
  background: #f8f8f8
  border: none
  padding: .25em
  +box-shadow(lightgray 1px 1px 1px inset)

img
  float: left
  margin: 0
  +border-radius(0)

hr
  border: none
  border-top: 1px solid lightgray
  border-bottom: 1px solid white

small
  font-size: .8em
  color: lightgray

span, label
  &:before
    margin-right: .25em
    font-size: .8em
  &.icon-location
    &:before
      color: $pink
  &.icon-people
    &:before
      color: $yellow
  &.icon-clock
    &:before
      color: $blue
  &.icon-money
    &:before
      color: $green
  &.icon-review
    &:before
      color: $pink

p
  line-height: 1.5em

@mixin btn($color)
  background: $color
  color: white
  text-align: center
  text-transform: uppercase
  padding: .8em 4em
  background: $color
  font-family: "Proxima Nova", sans-serif
  font-weight: bold
  font-size: 1em
  margin: .4em auto
  border: none
  display: inline-block
  +transition(.2s)
  +background-image(linear-gradient($color, darken($color, 10%)))
  +box-shadow(0 0 .1em lighten(black, 15%))
  +border-radius(4px)
  &:before
    vertical-align: middle
    top: -1px
    line-height: 0
    font-size: 1.5em
    margin-right: .5em
    +opacity(.3)
  &:hover
    background: darken($color, 5%)
    cursor: pointer
    color: white
    text-decoration: none
  .icon-checkmark
    &:before
      font-size: 1.4em
      opacity: .8
      top: .1em
  .icon-checkmark, .icon-heart, .icon-calendar-add
    &:before
      margin-right: .3em

.btn
  +btn($pink)

.btn_fb
  +btn(lighten(#3B5998, 10%))

input[type='submit']:disabled
  +btn(lightgray)

input.btn_lightgray
  +btn(lighten(gray, 50%))
  font-weight: bold
  color: $pink
  padding: .5em 1em
  +box-shadow(lightgray 0 2px 2px)
  &:hover
    color: $pink

.btn_gray 
  padding: .4em .2em
  width: 60%
  background: lighten(gray, 10%)
  font-size: .8em
  &:hover
    background: darken(gray, 15%)
  .icon-heart, .icon-calendar-add
    &:before
      color: lighten(gray, 40%)
      top: .1em

.login
  background: white
  padding-top: .25em
  padding-bottom: .25em
  line-height: 40px
  color: lighten(gray, 10%)
  font-size: .8em
  img
    float: left
    margin-left: -4px
  .login
    float: right
    a
      display: inline-block
      text-decoration: none
      font-size: 1.5em
      color: #4b64a6
      vertical-align: middle
      margin-left: .25em
  .user_name_and_avatar
    text-align: right
    span
      color: black
      font-weight: normal
    span, a
      border-right: 1px solid lightgray
      padding-right: 10px
      margin-right: 10px
      &:last-child
        border-right: 0
        padding-right: 0
        margin-right: 0
    a
      color: lighten(gray, 18%)
      &:hover
        color: black
        text-decoration: none
      &:last-child
        padding-left: .6em
        &:after
          content: ''
    img
      width: 2.5%
      float: none
      display: inline-block
      position: relative
      top: .5em
      margin-right: .4em
      +border-radius(20px)

.navigation
  background: white
  +box-shadow(lighten(gray, 10%) 0 10px 20px -15px inset)
  .row
    padding: 1.0em 0
    overflow: hidden
  img
    float: left
    +transition(.2s)
    &:hover
      +rotate(-2deg)
  .btn
    float: right
    font-size: .7em
    padding: .75em 1.75em
    margin-top: 17px

.content
  background: #f8f8f8
  padding-top: 1em
  padding-bottom: 4em

footer
  +grid-container
  padding-top: 1em
  padding-bottom: 1em
  color: darken(#efefef, 25%)
  font-size: .9em
  border-top: 1px solid darken(#efefef, 5%)
  .signature
    +grid(12)
    text-align: right

.fb-like
  top: 1px

.box
  background: white
  padding: 1em
  margin-left: 1px
  margin-right: 1px
  margin-top: 1px
  margin-bottom: 3px
  +box-shadow(lighten(gray, 10%) 0 1px 3px)
  .title
    color: $blue
    border: 10px lightgray solid
    padding: 1em
    margin: -1.2em
    font-size: .9em
    text-align: center
    margin-bottom: 1em
    border-bottom: none
    &:before
      font-size: 1.5em
      margin-right: .25em
      vertical-align: middle

span.error, label.error
  color: red
  font-size: .9em

table
  td
    padding: .25em

.ui-datepicker
  font-size: .7em
  .ui-timepicker-div
    padding: .5em
    .ui_tpicker_time
      margin-bottom: .5em

#facebox .content
  padding: 0

span.tip
  font-size: .8em
  margin: 0 .5em
  cursor: pointer

li.event
  padding: 2em 1em
  border-bottom: 1px solid lightgray
  position: relative
  +transition(.2s)
  span.date, span.icon-money
    font-weight: bold
  span
    font-size: .9em
    padding-right: 1em
    &:before
      margin-right: .4em
  span.participations
    display: inline-block
    font-size: .6em
    vertical-align: middle
  span.participations strong
    display: block
    text-align: center
    font-size: 1.8em
  span.actions
    float: right 
    display: inline-block
    font-size: .7em
    margin-top: .2em
    a
      display: inline-block
      margin-left: .2em
  span.cancel
    display: none
    font-size: .5em
    a
      position: absolute
      right: 0
      margin-top: 10px
      color: red
      &:hover
        text-decoration: none
  &:before
    float: left
    font-size: 2.4em
    margin-right: .2em

section.featured_activities, ul.search_result, ul.nearby_result, body.users.show
  li.activity         
    +grid(4)
    &:last-child
      +last
    margin-bottom: 1em
    .image
      float: left
      img
        float: left
        width: 100%
    .about
      background: white
      margin: 0 1px 2px 1px
      overflow: hidden
      padding: .5em
      +box-shadow(lightgray 0 1px 2px)
    .user_name
      color: gray
      overflow: hidden
      border-bottom: 1px solid lighten(lightgray, 10%)
      padding-bottom: .5em
      margin-bottom: .5em
      img
        float: left
        margin: 0 .5em .5em 0
    .info
      line-height: 20px
      overflow: hidden
      .address
        float: left
        color: gray
        font-size: .8em
        &:before
          color: $pink
      .price
        float: right

.empty
  text-align: center
